extends layouts/main-layout.pug
block content
    main
        .container.mt-4.mb-4
            h4.text-center.mt-2.mb-3 Our Social Media Accounts
            .card-deck.contact-icons.text-center
                .card
                    img(src="/img/facebook.png" width="30px" height="30px")
                    .card-body
                        h4 Our Facebook Account
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, enim? Quia temporibus pariatur vitae aliquid?
                        a(href="#").btn.btn-dark Shop Now
                .card
                    img(src="/img/twitter.png" width="30px" height="30px")
                    .card-body
                        h4 Our Twitter Account
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, enim? Quia temporibus pariatur vitae aliquid?
                        a(href="#").btn.btn-dark Shop Now
                .card
                    img(src="/img/instagram.png" width="30px" height="30px")
                    .card-body
                        h4 Our Instagram Account
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, enim? Quia temporibus pariatur vitae aliquid?
                        a(href="#").btn.btn-dark Shop Now