extends layouts/main-layout.pug
block content
    main
        .container.mt-4.mb-4
            .card-deck
                .card
                    img(src="/img/banner.png" width="100%" height="300px")
                    .card-body
                        h4 Lorem Ipsum
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, enim? Quia temporibus pariatur vitae aliquid?
                        a(href="#").btn.btn-dark Shop Now
                .card
                    img(src="/img/nav-slide-1.png" width="100%" height="300px")
                    .card-body
                        h4 Lorem Ipsum
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, enim? Quia temporibus pariatur vitae aliquid?
                        a(href="#").btn.btn-dark Shop Now